# When adding additional environment variables, the schema in "/env/schema.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="file:./db.sqlite"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
# NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
DISCORD_CLIENT_ID="1079925033218089000"
DISCORD_CLIENT_SECRET="MMU4Rc6jC_NMe1IsNdeyuuUaVUv-pb9P"
GOOGLE_CLIENT_ID="461228882999-5ts2qk64mepltedik0h988vf965cfa9i.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"